.about {
  display: flex;
  align-items: center;
  .row{
    display: flex;
    align-items: center;
  }
  .col{
    width: 50%;
  }
  .figure {
    flex: none;
    flex-basis: 34.6875rem;
    height: 700px;
    background: #c7c6c6;
    border: solid 0.625rem #c0c0c0;
    position: relative;
    
    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      vertical-align: middle;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(rgba(0, 0, 0, 0) 0, rgba(252, 95, 69, 0.6) 100%);
      opacity: 0.5;
    }
  }
  .content {
    padding: 5.5625rem;
    background: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    margin-left: -100px;
    position: relative;
    z-index: 1;
    .section-head {
      text-align: left;
    }
    .text {
      margin-top: 1.875rem;
    }
    &::before {
      content: "01";
      top: 0.625rem;
      left: 0;
      z-index: -1;
      position: absolute;
      font-family: Poppins;
      font-size: 17.0625rem;
      line-height: 13.375rem;
      letter-spacing: 0;
      color: #e0e0e0;
      opacity: 0.3;
    }
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      background: #000;
      width: 100%;
      height: 0.1875rem;
      background: linear-gradient(to right, #fc5f45 25%, #38c695 0, #38c695 50%, #b27cf5 0, #b27cf5 75%, #feb960 0);
    }
  }
}
