.blog {
  background: #f7f7f7;
  .row {
    margin: -0.9375rem;
  }
  .col {
    width: 50%;
    padding: 0.9375rem;
  }
  .article {
    border-bottom: solid 0.1875rem #38c695;
    box-shadow: 0px 0px 1.25rem rgba(0, 0, 0, 0.05);
    background: #fff;
    display: flex;
    flex-direction: column;
    &__body {
      padding: 2rem 2.3125rem;
    }
    & + * {
      margin-top: 1.4375rem;
    }
    &__figure {
      flex: 1;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.6) 100%);
      }
    }
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      vertical-align: middle;
    }
    &_big {
      height: 100%;
      .article__header {
        position: absolute;
        left: 3.125rem;
        bottom: 4.375rem;
        .date {
          color: #fff;
        }
      }
    }
    &__header {
      padding-bottom: 0.75rem;
      display: flex;
      align-items: center;
    }
    &__title {
      margin-bottom: 1rem;
    }

    &__text {
      font-size: 0.9375rem;
      color: #616161;
      a.read {
        font-size: 0.9375rem;
        font-weight: 500;
        color: #38c695;
      }
    }
    .author {
      font-size: 0.9375rem;
      font-weight: 500;
      color: #38c695;
    }
    .date {
      font-size: 0.8125rem;
      font-weight: 400;
      color: #616161;
      margin-left: 1.5rem;
    }
  }
}
