.header {
  height: 10vh;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background: #e6e6e6;
  z-index: 100;

  .nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    font-size: 1.5rem;
    font-weight: 800;
    color: #3e3f48;
  }
  .menu {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 600;
    color: #3e3f48;

    // .menu__item

    &__item {
      & + * {
        margin-left: 1.7rem;
      }
    }
  }
  .toggle-menu {
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    &.active{
      span{
        height: 0;
        &::before{
          transform: rotate(45deg);
        }
        &::after{
          transform: rotate(-45deg);
        }
      }
    }
    span{
      display: block;
      height: 2px;
      width: 100%;
      background: #000;
      position: relative;
      &::before, &::after{
        transition: 0.3s;
        content: "";
        display: block;
        position: absolute;
        width: inherit;
        height: 2px;
        background: #000;
      }
      &::before{
        transform: translateY(-10px);
      }
      &::after{
        transform: translateY(10px);
      }
    }
  }
}
.intro {
  height: 90vh;
  background: #3e3f48;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .offer {
    text-align: center;
    &__title {
      font-size: 3.75rem;
      color: #fff;
      margin-bottom: 3.125rem;
    }
  }
  .features{
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    .feature{
      flex: 1;
      display: block;
      text-align: center;
      text-transform: uppercase;
      &:nth-child(1){
        color: #38C695;
      }
      &:nth-child(2){
        color: #B27CF5;
      }
      &:nth-child(3){
        color: #FEB960;
      }
      .icon{
        width: 2.5rem;
        height: 2.5rem;
        fill: #38c695;
        margin-bottom: 1.875rem;
      }
      .text{
        color: inherit;
        font-size: 1.125rem;
      }
    }
  }
}
