.portfolio {
  .row {
    margin: -0.9375rem -0.9375rem;
  }
  .col {
    width: 33.333%;
    padding: 0.9375rem 0.9375rem;
    
  }
  .card {
    box-shadow: 0px 0px 1.25rem rgba(0, 0, 0, 0.05);
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
  }
  .footer {
    padding: 1.375rem 0;
    .title {
      text-align: center;
      font-size: 1.125rem;
      font-weight: 600;
    }
  }
}
