.steps {
  .row {
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 50px;
  }
  .col {
    width: 556px;
    height: 300px;
    background: #ccc;
    &:nth-child(1) {
      .figure {
        background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(252, 95, 69, 0.6) 100%);
        opacity: 0.49;
      }
      .card {
        transform: translateY(-110%);
        left: 0;
        border-bottom: solid 3px #fc5f45;
      }
    }
    &:nth-child(2) {
      .figure {
        background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(56, 198, 149, 0.6) 100%);
        opacity: 0.49;
      }
      .card {
        transform: translateY(-110%);
        right: 0;
        border-bottom: solid 3px #38c695;
      }
    }
    &:nth-child(3) {
      .figure {
        background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(178, 124, 245, 0.6) 100%);
        opacity: 0.49;
      }
      .card {
        transform: translateY(-110%);
        left: 0;
        border-bottom: solid 3px #b27cf5;
      }
    }
    &:nth-child(4) {
      .figure {
        background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(254, 185, 96, 0.6) 100%);
        opacity: 0.49;
      }
      .card {
        transform: translateY(-110%);
        right: 0;
        border-bottom: solid 3px #feb960;
      }
    }
  }
  .figure {
    width: 556px;
    height: 300px;
    background: #000;
  }
  .card {
    position: absolute;
    background: #fff;
    width: 458px;
    padding: 40px 50px 75px 124px;
    box-shadow: 0px 0px 1.25rem rgba(0, 0, 0, 0.05);
  }
  .card-header {
    margin-bottom: 1.125rem;
  }
  .number {
    position: absolute;
    left: 2.375rem;
    top: 1.5625rem;
    font-size: 3.125rem;
    color: #e0e0e0;
    &::after {
      content: "";
      position: absolute;
      display: block;
      background: #e0e0e0;
      height: 1px;
      width: 83px;
      transform-origin: center;
      transform: rotate(-55deg);
      top: 3.0625rem;
      left: 1.0625rem;
    }
  }
  .title {
    font-size: 1.5625rem;
    font-weight: 400;
    color: #272727;
  }
}
