.team {
  background: #f7f7f7;
  position: relative;
  .row {
    margin: -0.9375rem -0.9375rem;
  }
  .col {
    width: 25%;
    padding: 0.9375rem 0.9375rem;
    &:nth-child(1) {
      .figure {
        background: linear-gradient( rgba(0, 0, 0, 0) 0, rgba(252, 95, 69, 0.6) 100%);
        opacity: 0.49;
      }
      .footer {
        border-color: #fc5f45;
        .title {
          color: #fc5f45;
        }
      }
    }
    &:nth-child(2) {
      .figure {
        background: linear-gradient( rgba(0, 0, 0, 0) 0, rgba(56, 198, 149, 0.6) 100%);
        opacity: 0.49;
      }
      .footer {
        border-color: #38c695;
        .title {
          color: #38c695;
        }
      }
    }
    &:nth-child(3) {
      .figure {
        background: linear-gradient( rgba(0, 0, 0, 0) 0, rgba(178, 124, 245, 0.6) 100%);
        opacity: 0.49;
      }
      .footer {
        border-color: #b27cf5;
        .title {
          color: #b27cf5;
        }
      }
    }
    &:nth-child(4) {
      .figure {
        background: linear-gradient( rgba(0, 0, 0, 0) 0, rgba(254, 185, 96, 0.6) 100%);
        opacity: 0.49;
      }
      .footer {
        border-color: #feb960;
        .title {
          color: #feb960;
        }
      }
    }
  }
  .card {
    box-shadow: 0px 0px 1.25rem rgba(0, 0, 0, 0.05);
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    .figure {
      border: solid 5px #fff;
      outline: 1px solid #e0e0e0;
      height: 350px;
      background: #fff;
      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        vertical-align: middle;
      }
    }
    .footer {
      text-align: center;
      padding: 10px 0;
      border-bottom: solid 3px #333;
      background: #fff;
      flex: 1;
      .title {
        font-size: 18px;
        font-weight: 500;
      }
      .text {
        color: #616161;
        font-size: 13px;
        font-weight: 400;
      }
    }
  }
  .card-decription {
    background: #fff;
    position: relative;
    margin: 0 0.9375rem;
    margin-top: 3.125rem;
    width: 100%;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.05));
    &::before {
      content: "";
      bottom: 100%;
      border: 1.875rem solid transparent;
      border-bottom: 2.5rem solid #fff;
      left: 6.25rem;
      position: absolute;
      display: block;
    }

    .description {
      padding: 7.5rem 6.25rem 9.375rem 6.25rem;
    }
  }
}
