.why {
  .row {
    margin: 0.9375rem;
  }
  .col {
    width: 33.333%;
    padding: 0.9375rem;
  }
  .card {
    text-align: center;
    &__header {
      padding-bottom: 1.8125rem;
      display: flex;
      align-items: center;
    }
    &__title {
      width: 4.9375rem;
    }
  }
  .icon {
    width: 3rem;
    height: 3rem;
    margin-right: 0.875rem;
  }
  .text {
    text-align: left;
  }

  .offer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6.25rem;
    .text {
      font-size: 1.5625rem;
      color: #272727;
      margin-right: 1.5rem;
    }
  }
}
